In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split

df_train_health = pd.read_csv('/Users/bhsrinivasan/Documents/IDS/Healthcare_Analytics/Train/train.csv')
df_test_health = pd.read_csv('/Users/bhsrinivasan/Documents/IDS/Healthcare_Analytics/Train/test.csv')
df_train_health.head(5)

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      489652            6578         10-Sep-05     4     0     0     0     2
1      507246            6578         18-Aug-05    45     5     0     0     7
2      523729            6534         29-Apr-06     0     0     0     0     0
3      524931            6535         07-Feb-04     0     0     0     0     0
4      521364            6529         28-Feb-06    15     1     0     0     7

In [24]:
#Patient_ID - Nominal Data
#Health_Camp_ID - Ordinal Data
#Registration_Date - Ordinal Data, Needs to be grouped by the year 04,05,06,03 and map the Health_camp_ID
#
#
#
#
#

In [19]:
df_train_health.shape

(75278, 8)

In [26]:
type_counts0 = df_train_health['Patient_ID'].value_counts()
type_counts1 = df_train_health['Health_Camp_ID'].value_counts()
type_counts2 = df_train_health['Registration_Date'].value_counts()
type_counts3 = df_train_health['Var1'].value_counts()
type_counts4 = df_train_health['Var2'].value_counts()
type_counts5 = df_train_health['Var3'].value_counts()
type_counts6 = df_train_health['Var4'].value_counts()
type_counts7 = df_train_health['Var5'].value_counts()

In [16]:
df_train_health.isna()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
75273,False,False,False,False,False,False,False,False
75274,False,False,False,False,False,False,False,False
75275,False,False,False,False,False,False,False,False
75276,False,False,False,False,False,False,False,False
75277,False,False,False,False,False,False,False,False

In [22]:
df_test_health.shape

(35249, 8)

In [27]:
type_counts1

6543    6543
6527    4144
6538    3954
6537    3859
6529    3823
6526    3809
6534    3597
6570    3564
6580    3517
6578    2837
6586    2624
6542    2368
6562    2338
6554    2303
6571    2086
6523    2084
6536    2037
6532    1993
6539    1992
6535    1882
6549    1835
6528    1744
6555    1738
6541    1547
6581    1485
6540    1426
6585    1398
6564     514
6546     403
6530     259
6561     200
6569     177
6563     171
6524     149
6544     128
6560     123
6531     120
6553      94
6575      90
6552      82
6587      79
6565      66
6557      52
6558      44
Name: Health_Camp_ID, dtype: int64

In [28]:
type_counts2

28-Mar-06    868
08-May-05    554
31-Mar-06    520
05-Jan-05    497
24-Dec-04    476
            ...
26-Apr-04      2
05-Apr-04      2
25-Oct-03      1
29-Apr-04      1
08-Apr-04      1
Name: Registration_Date, Length: 1201, dtype: int64

In [29]:
type_counts3

0      67445
1       2602
2       1383
3       1082
4        565
       ...
204        1
140        1
225        1
139        1
191        1
Name: Var1, Length: 127, dtype: int64

In [30]:
type_counts4

0      72832
1        987
2        530
3        284
4        102
       ...
98         1
97         1
148        1
156        1
63         1
Name: Var2, Length: 77, dtype: int64

In [31]:
type_counts5

0    75249
1       29
Name: Var3, dtype: int64

In [32]:
type_counts6

0    74134
1      717
2      323
3       91
4       13
Name: Var4, dtype: int64

In [33]:
type_counts7

0     69321
1      2161
2      1136
3       925
4       559
5       324
6       235
7       204
8       140
9        57
10       56
11       29
14       21
15       15
16       14
20       14
12       12
17       11
22        9
13        8
19        5
18        4
29        4
24        4
21        3
27        3
23        1
25        1
26        1
31        1
Name: Var5, dtype: int64